@font-face {
    font-family: 'ralewaymedium';
    src: url('../components/fonts/Raleway-Medium.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }


@font-face {
    font-family: 'ralewaybold';
    src: url('../components/fonts/Raleway-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }


@font-face {
    font-family: 'ralewayregular';
    src: url('../components/fonts/Raleway-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }